body {
  background-image: linear-gradient(to right, #e57aee, #b664bd, #894f8e, #5f3b62, #382739);
  background-size: auto;
  background-repeat: no-repeat;

}
body {margin:0}

.icon-bar {
  width: 90px;
  background-color: #555;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: blue;
}

.icon1 {
  background-color: #0756d1;
}

.icon2 {
  background-color: #060552;
}

.icon3 {
  background-color: #448deb;
}

.icon4 {
  background-color: #1fe142;
}

.icon5 {
  background-color: #cb4b14;
}
