body {
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(150,7,128,1) 49%, rgba(114,28,140,1) 52%, rgba(5,90,175,1) 61%, rgba(196,161,4,1) 71%, rgba(1,184,237,1) 91%, rgba(0,212,255,1) 100%);
  background-repeat: no-repeat;
  background-size: auto;

}
body {margin:0}

.icon-bar {
  width: 90px;
  background-color: #555;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: blue;
}

.active2 {
  background-color: blue;
}
